body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

p {
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #0984e3 6px;
  background-color: white;
  border-bottom: 0;
  width: 25%;
  margin: 80px auto;
}

a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #0984e3;
}

h1 {
  color: #EAF6F6;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  margin: 0px auto 0 auto;
  line-height: 2;
}
h2 {
  color: #74b9ff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2;
  padding-bottom: 10px;
}

h3 {
  color: #74b9ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1rem;
}
.pro{
  color:#EAF6F6;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  line-height: 2;
  padding-bottom: 10px;
}



.top-section {
  background-color: #74b9ff;
  position: relative;
  padding-top: 0;
  padding-bottom: 20px;
}
.top-sec{
  width: 60%;
  margin: 0 auto;
}
.navbar{
  width: 60%;
  margin: 0 auto;
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 300;
}

.middle-container {
  width: 60%;
  margin: 10px auto;
}
.skill-set{
  margin-top:50px;
}
.skill-text{
  padding:20px;

}
.skill-header{
  font-size: 1.2rem;
  padding-top: 40px;
}
.skill-row-image {
  width: 20%;
  margin: 10px auto;
}


.bottom-container {
  background-color: #74b9ff;
  padding: 50px 0 20px;
}
.bt-cont-row{
  width: 60%;
  margin: 0 auto;
}
.top-info{
  padding-top: 0;
}

.Panda {
  width: 40%;
  padding-top: 20px;
}


.skill-row {
  width: 60%;
  text-align: left;
  margin: 5px auto 100px auto;
  line-height: 3;
}

.centered-image {
  width: 20%;
  margin: 0 auto;
}



.intro {
  width: 40%;
  margin: 40px auto 60px;
  font-family: 'Montserrat', sans-serif;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #74b9ff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  color:white;
  background: #3cb0fd;
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 0;
  font-weight: 600;
}
